#pay__page__container {
    margin-top: 26px;
}

.pay__page__content {
    margin-top: 85px;
    margin-bottom: 78px;
}

.pay__page__variables__container {
    gap: 60px;
}

.pay__page__variable__card,
.pay__page__variable__content {
    gap: 30px;
    padding-right: 34px;
}

.pay__page__variable__description.frs {
    gap: 30px;
}

.pay__page__variable__description.lst {
    gap: 20px;
}

.r__58 {
    position: relative;
    right: 58px;
}

.pay__page__variables__systems {
    gap: 16px;
}

.pay__page__variable__system__card {
    width: 220px;
    height: 90px;
    border-radius: 30px;
    background: #FFFFFF;
    border: 1px solid #D7DDE0
}

.pay__page__hint {
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    padding: 30px 99px 30px 30px;
    background: var(--primary__light__red);
    margin-top: 30px;
    margin-bottom: 60px;
    max-width: 988px;
}

.pay__page__hint .desk__txt {
    margin-left: 16px;
    max-width: 90%;
}

.rating__link {
    white-space: nowrap;
    margin-bottom: 3px;
}

@media (max-width:600px) {
    #pay__page__container {
        margin-top: 16px;
    }
    
    .pay__page__content {
        margin-top: 30px;
        margin-bottom: 40px;
        flex-direction: column;
    }
    
    .pay__page__variables__container {
        gap: 30px;
    }
    
    .pay__page__variable__card,
    .pay__page__variable__content {
        gap: 20px;
        padding-right: 0px;
    }

    .pay__page__variable__card .desk__txt {
        font-size: 12px;
        line-height: 13.2px;
    }

    .pay__page__variable__content svg {
        display: none;
    }
    
    .pay__page__variable__description.frs {
        gap: 20px;
    }

    .pay__page__variable__description.frs .pay__page__variables__systems {
        margin-top: 10px;
    }
    
    .pay__page__variable__description.lst {
        gap: 20px;
    }
    
    .r__58 {
        position: static;
        right: 0px;
        flex-wrap: wrap;
    }
    
    .pay__page__variables__systems {
        gap: 16px;
    }
    
    .pay__page__variable__system__card {
        width: calc(50% - 8px);
        height: 46px;
        border-radius: 12px;
        background: #FFFFFF;
        border: 1px solid #D7DDE0
    }

    .pay__page__variable__system__card .pay__page__variable__system__card__preview img {
        width: 60%;
       
    }
    
    .pay__page__hint {
        width: 100%;
        height: fit-content;
        border-radius: 12px;
        padding: 16px;
        background: var(--primary__light__red);
        margin-top: 20px;
        margin-bottom: 30px;
        max-width: 100%;
    }

    .pay__page__hint svg,
    .pay__page__hint svg path {
        width: 12px;
        height: 12px;
    }
    
    .pay__page__hint .desk__txt {
        margin-left: 16px;
        max-width: 90%;
        font-size: 12px;
        line-height: 13.2px;
    }

    .rating__link {
        margin-bottom: 0px;
    }
}