.page__ymap__container {
    width: 100%;
    height: 687px;
    border-radius: 20px;
    overflow: hidden;
}

#where__to__buy__container {
    margin-top: 26px;
}

#where__to__buy__container .page__title__container {
    gap: 6px;
}

#where__to__buy__container .page__ymap__container {
    margin-top: 60px;
}

.offices__navbar__block__container {
    margin-top: 90px;
    gap: 60px;
    margin-bottom: 122px;
}

.offices__navbar__container {
    height: fit-content;
    gap: 30px;
    width: 100%;
}

.offices__navbar {
    gap: 30px;
    width: 100%;
    list-style: none;
}

.offices__navbar li {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.offices__navbar li a {
    font-family: "Nunito Sans", serif !important;
    color: var(--primary__dark-grey);
    text-decoration: none;
}

.offices__navbar li.active a {
    color: var(--primary__website__color-hex)
}

@media (max-width:1024px) {
    #where__to__buy__container {
        margin-top: 20px;
    }

    #where__to__buy__container .page__ymap__container {
        margin-top: 20px;
        height: 146.56px;
    }

    .offices__navbar__block__container {
        margin-top: 30px;
        gap: 30px;
        margin-bottom: 40px;
    }

    .offices__navbar__block__container h2 {
        max-width: 300px;
    }

    .offices__navbar__container {
        gap: 20px;
        flex-wrap: wrap;
    }

    .offices__navbar {
        gap: 8px;
        width:calc(50% - 20px)
    }

    .offices__navbar li {
        font-weight: 400;
        font-size: 12px;
        line-height: 13.2px;
    }
}